<br>
<br>
<body>
    <div class="row">
        <div class="col-sm-2">
            <p>Enter Seller ID</p>
        </div>
        <div class="col-sm-7">
            <input type="text" sixe="30">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <p>Enter PRODUCT NAME</p>
        </div>
        <div class="col-sm-7">
            <input type="text" sixe="30">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <p>Enter PRODUCT Price</p>
        </div>
        <div class="col-sm-7">
            <input type="text" sixe="30">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <input type="button" sixe="30" value="Place Bids">
        </div>
    </div>
</body>
