<body>
    <h3>Welcome to all the sellers!!</h3>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <a class="btn btn-primary" [routerLink]="['/Sellerreg']" role="button">Register as seller</a>                
            </div>
            <div class="col-sm-3">
                <a class="btn btn-primary" [routerLink]="['/Edit']" role="button">Edit Prodcuts</a>                
            </div>
            <div class="col-sm-3">
                <a class="btn btn-primary" [routerLink]="['/Deleteproduct']" role="button">Delete Product</a>                
            </div>
            <div class="col-sm-3">
                <a class="btn btn-primary" [routerLink]="['/Sellerbyid']" role="button">View Seller by ID</a>                
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-3">
                <a class="btn btn-primary" [routerLink]="['/Fetchall']" role="button">View all Sellers</a>                
            </div>
            <div class="col-sm-3">
                <a class="btn btn-primary" [routerLink]="['/Deleteseller']" role="button">Quit as seller</a>                
            </div>
            <div class="col-sm-3">
                <a class="btn btn-primary" [routerLink]="['/Biddetails']" role="button">Product Bid Info</a>                
            </div>
            <div class="col-sm-3">
                <a class="btn btn-primary" [routerLink]="['/Seeallproducts']" role="button">View all products</a>                
            </div>
        </div>
    </div>
    
</body>
