<br>
<body>
    <div class="row">
        <div class="col-sm-6">
            Welcome to product editing and viewing page
        </div>
        <div class="col-sm-6">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Note
                </a>
                <ul class="dropdown-menu">
                  <li>Enter the ID only for view by ID</li>
                  <li>Enter all the details to add a product</li>
                </ul>
              </div>
              <br>
        </div>

    </div>
    <br>
    <br>
    <form>
        <div class="row">
            <div class="col-sm-2">
                <p>Product ID</p>              
            </div>
            <div class="col-sm-4">
                <input type="text" size="30" >            
            </div>
            <div class="col-sm-2">
                <p>Choose the type of product</p>              
            </div>
            <div class="col-sm-4">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Category</option>
                        <option value="1">Gold</option>
                        <option value="2">Paintings</option>
                        <option value="3">Archaelogical Ornaments</option>
                      </select>
            </div>         
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm-2">
                <p>Product Name</p>              
            </div>
            <div class="col-sm-4">
                <input type="text" size="30" >            
            </div>
            <div class="col-sm-2">
                <p>Choose the base price</p>              
            </div>
                <div class="col-sm-4">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Base Price</option>
                        <option value="1">200$</option>
                        <option value="2">300$</option>
                        <option value="3">400$</option>
                      </select>
            </div>            
            </div>
        <br>
        <div class="row">
            <div class="col-sm-2">
                <p>Seller Name</p>              
            </div>
            <div class="col-sm-4">
                <input type="text" size="30" >            
            </div>
            <div class="col-sm-2">
                <p>Seller ID</p>              
            </div>
            <div class="col-sm-4">
                <input type="text" size="30" >          
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3">
                <input type="submit" value="Add Product">
            </div>
            <div class="col-sm-3">
                <input type="submit" value="Delete Product">  
            </div>
            <div class="col-sm-3">
                <input type="submit" value="View All Products">       
            </div>
            <div class="col-sm-3">
                <input type="submit" value="View by ID">       
            </div>
        </div>
        
    </form>
        
        
</body>
