<br>
<body>
    <h3>Welcome to all the customers!! You can view product details here</h3>
    <br>
    <br>
    <form>
    <div class="row">
        <div class="col-sm-2">
            <p>Enter Product ID</p>              
        </div>
        <div class="col-sm-4">
            <input type="text" size="30" >            
        </div>
        <div class="col-sm-4">
            <select class="form-select" aria-label="Default select example">
                <option selected>Category</option>
                <option value="1">Gold</option>
                <option value="2">Paintings</option>
                <option value="3">Archaelogical Ornaments</option>
              </select>
    </div>
    </div>
    
        <div class="row">
            <div class="col-sm-3">
                <input type="submit" value="View product by ID">
            </div>
            <div class="col-sm-3">
                <input type="submit" value="View product by category">  
            </div>
             
        </div>
    </form>
    </body>
