<br>
<br>
<br>

<form>
<div class="row">
    <div class="col-sm-2">
        <p>Email</p>              
    </div>
    <div class="col-sm-4">
        <input type="text" size="30" >            
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <p>Password</p>              
    </div>
    <div class="col-sm-4">
        <input type="text" size="30" >            
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <button class="btn btn-primary">Login</button>               
    </div>
</div>
</form>